@tailwind base;
@tailwind components;
@tailwind utilities;


/* color */
/* #1e40af */
/* #82c1ff */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_img{
    background:linear-gradient( rgba(20, 29, 57, 0.203)5%,rgba(0, 10, 90, 0.63)90%  ), url(img1.jpg);
    background-size: cover;
    background-position: center;
    height:80vh;
}

.container{
    width: 23rem;
    height: 37rem;
}

.container2{
    width: 23rem;
    height: 31rem;
}

.container3{
    height: 85rem;
}

.container4{
    height: 35rem;
    width: 23rem;
    background-color: #769efc;

}

.container5{
    height: 29.5rem;
    width: 23rem;
    background-color:#769efc ;
    margin: auto;

}

/* subscribe button */
